header {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}
